<div id="banner-container">
    <img id="banner-image" src="../../../assets/banner.jpg" alt="Banner Image" />
  </div>
  <div class="dp-container">
    <div id="circle-container">
        <img id="circle-image" src="../../../assets/DP.jpg" alt="Circle Image" />
      </div>
      <div class="Main-name">
        <ion-row>
            <h1>CHITTALA TEJA VENKATA PHANEENDRA</h1>
        </ion-row>
      </div>
      <div class="mt-2">
        <div class="Main-name">
            <ion-row>
                <ion-col size="1">
                    <ion-icon class="banner-icon" name="mail-outline"></ion-icon>
                </ion-col>
                <ion-col size="5" class="subHeading">
                    <h6>tejachittala@gmail.com</h6>
                </ion-col>
            </ion-row>
          </div>
          <div class="Main-name">
            <ion-row>
                <ion-col size="1">
                    <ion-icon class="banner-icon" name="call-outline"></ion-icon>
                </ion-col>
                <ion-col size="6" class="subHeading">
                    <h6>+91 9603157437</h6>
                </ion-col>
            </ion-row>
          </div>
          <div class="Main-name">
            <ion-row>
                <ion-col size="1">
                    <ion-icon class="banner-icon" name="location-outline"></ion-icon>
                </ion-col>
                <ion-col size="5" class="subHeading">
                    <h6>Hyderabad</h6>
                </ion-col>
            </ion-row>
          </div>

          <div class="button-div">
            <button type ="submit" class="button">CONTACT ME</button>
          </div>
      </div>
  </div>
  