@import '../../../sassvariables.scss';


.section-layout {
    margin: 25px 35px 25px 35px;
}
.content {
    font-size: 15px;
    line-height: 30px;
    color: $standadFontColor;
    font-family: 'Kraftig';
}