<ion-grid class="primary-bg">
    <ion-card class="card">
        <div>
            <app-banner-card></app-banner-card>
        </div>
    </ion-card>
    <div class="mt-5 mb-5">
        <ion-row class="ml-6">
            <ion-col size="1">
                <ion-icon class="icon-img" name="person-outline"></ion-icon>
            </ion-col>
            <ion-col size="5">
                <h6 class="side-heading">SUMMARY</h6>
            </ion-col>
        </ion-row>
    </div>
    <ion-card class="card">
        <div>
            <app-summary-card></app-summary-card>
        </div>
    </ion-card>
</ion-grid>